*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
#case{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    height: 300px;
    width: 700px;
    padding: 0px 30px;
}

#deptLabel{
    height: 50px;
    width: 100%;
    color: #fff;
}
#panelTitleJp{
    font-size: 30px;
}
#deptDisplay{
    background-color: #000;
    height: 250px;
    width: 100%;
}