*,*::before,*::after{margin:0;padding:0;box-sizing:border-box}:where([hidden]:not([hidden='until-found'])){display:none!important}:where(html){-webkit-text-size-adjust:none;color-scheme:dark light}@supports not (min-block-size:100dvb){:where(html){block-size:100%}}@media (prefers-reduced-motion:no-preference){:where(html:focus-within){scroll-behavior:smooth}}:where(body){block-size:100%;block-size:100dvb;line-height:1.5;font-family:system-ui,sans-serif;-webkit-font-smoothing:antialiased}:where(input,button,textarea,select){font:inherit;color:inherit}:where(textarea){resize:vertical;resize:block}:where(button,label,select,summary,[role='button'],[role='option']){cursor:pointer}:where(:disabled){cursor:not-allowed}:where(label:has(>input:disabled),label:has(+input:disabled)){cursor:not-allowed}:where(button){border-style:solid}:where(a){text-underline-offset:.2ex}:where(ul,ol){list-style:none}:where(img,svg,video,canvas,audio,iframe,embed,object){display:block}:where(img,picture,svg){max-inline-size:100%;block-size:auto}:where(p,h1,h2,h3,h4,h5,h6){overflow-wrap:break-word}:where(h1,h2,h3){line-height:calc(1em + 0.5rem)}:where(hr){border:none;border-block-start:1px solid;color:inherit;block-size:0;overflow:visible}:where(:focus-visible){outline:2px solid var(--focus-color,Highlight);outline-offset:2px}:where(.visually-hidden:not(:focus,:active,:focus-within,.not-visually-hidden)){clip-path:inset(50%)!important;height:1px!important;width:1px!important;overflow:hidden!important;position:absolute!important;white-space:nowrap!important;border:0!important}
@font-face {
    font-family: "ibmPlex-SemiBold";
    src: url(IBMPlexSansJP-SemiBold.otf);
}
@font-face {
    font-family: "ibmPlex-Medium";
    src: url(IBMPlexSansJP-Medium.otf);
}
@font-face {
    font-family: "ibmPlex-Regular";
    src: url(IBMPlexSansJP-Regular.otf);
}
@font-face {
    font-family: "firaSans";
    src: url(FiraSansCondensed-Medium.ttf);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
#case{
    display: flex;
    flex-direction: column;
    background-color: #111144;
    width: 1100px;
    height: 350px;
    padding: 30px 50px;
    margin: 75px 100px;
}

#deptLabel{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #101033;
    margin-bottom: 20px;
}
#labelTitle{
    display: flex;
    width: 600px;
    height: 100%;
    margin-right: 110px;
    color: #fff;

}
#titleJp{
    font-family: "ibmPlex-SemiBold", sans-serif;
    display: flex;
    height: 100%;
    font-size: 42px;
    align-items: center;
    margin-right: 15px;


}
#titleEn{
    font-family: "firaSans", sans-serif;
    display: flex;
    height: 25.2px;

    font-size: 25.2px;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 30.8px;
}
#labelDest{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100%;
    margin: 0px 40px;

    color: #fff;
    
}
#destJp{
    font-family: "ibmPlex-SemiBold", sans-serif;
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 5px;

    font-size: 32px;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
    padding-left: 7.5px;
}
#destEn{
    font-family: "firaSans", sans-serif;
    display: flex;
    width: 100%;
    height: 30px;

    font-size: 25.2px;
    align-items: center;
    justify-content: center;

}
#labelPlat{
    display:flex;
    flex-direction: column;
    width: 100px;
    height: 100%;

    color: #ffe07e;
}
#platJp{
    font-family: "ibmPlex-SemiBold", sans-serif;
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 5px;

    font-size: 32px;
    align-items: center;
    justify-content: center;
}
#platEn{
    font-family: "firaSans", sans-serif;
    display: flex;
    width: 100%;
    height: 30px;

    font-size: 25.2px;
    align-items: center;
    justify-content: center;
}

#deptDisplay{
    width: 100%;
    height: 200px;
}
.displayTrain{
    display: flex;
    background-color: #101010;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}
.displayTrain:last-child{
    margin-bottom: 0px;
}
.trainInfo{
    display: flex;
    width: 450px;
    height: 100%;
    margin-right: 10px;
    background-color: #f80;/** 背景色はcsvで指定できるようにする**/
    color: #fff;
    font-size: 56px;
    font-family: "ibmPlex-Medium", sans-serif;
}
.trainType{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 100%;
    /**background-color: #f00;**/
}
.trainName{
    display: flex;
    align-items: center;
    width: 228px;
    height: 100%;
    /**background-color: #0f0;**/
}
.trainNum{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 10px;
    transform: scaleX(0.75);
    /**background-color: #00f;**/
}
.trainTime{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 190px;
    height: 100%;
    margin: 0px 10px;
    /**background-color: #800;**/
    font-size: 64px;
    font-family: "ibmPlex-Regular", sans-serif;
    color: #fff;
}
.trainDest{
    display: flex;
    align-items: center;
    width: 224px;
    height: 100%;
    margin: 0px 10px;
    /**background-color: #080;**/
    font-size: 56px;
    font-family: "ibmPlex-Medium", sans-serif;
    color: #fff;
}
.trainPlat{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 86px;
    height: 100%;
    /**background-color: #008;**/
    font-size: 64px;
    font-family: "ibmPlex-Regular", sans-serif;
    color: #ffc2a2;
}