*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
#case{
    display: flex;
    background-color: #222222;
    height: 300px;
    width: 700px;
}
#deptLabel{
    height: 50px;
}
#deptDisplay{
    background-color: #000;
    height: 250px;
}